<div class="container mt-5">

    <h3>Login Form</h3>
    <form #loginForm="ngForm" (ngSubmit)="loginUser()">

        <small class="text-danger">{{message}}</small>
        <div class="mb-3">
            <label class="form-label">Email address</label>
            <input type="email" placeholder="Enter Email" [(ngModel)]="user.emailId" name="email" class="form-control" id="password" required pattern="^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$" #email="ngModel" [class.is-invalid]="email.invalid && email.touched">
            <!-- <small [class.d-none]="email.valid || email.untouched" class="text-danger">Email address is required</small> -->
            <div *ngIf="email.errors && (email.invalid && email.touched)">
                <small *ngIf="email.errors['pattern']" class="text-danger">Enter valid email address</small>
                <small *ngIf="email.errors['required']" class="text-danger">Email adress is required</small>
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label">Password</label>
            <input type="password" placeholder="Enter Password" name="password" [(ngModel)]="user.password" class="form-control" id="password" required #password="ngModel" [class.is-invalid]="password.invalid && password.touched">
            <small [class.d-none]="password.valid || password.untouched" class="text-danger">Password is required</small>
        </div>

        <button [disabled]="loginForm.invalid" type="submit" class="btn btn-success">Login</button>
    </form>
    <small class="float-end">New user? <a href="" [routerLink]="['/register']">register here</a></small>

</div>